<launch>
	<arg name="forward_gpio" default="23"/>
	<arg name="backward_gpio" default="24"/>
	<arg name="encoder_a_gpio" default="5"/>
	<arg name="encoder_b_gpio" default="6"/>
	
	<node name="test" pkg="inv_pendulum" type="test.py" output="screen"/>

	<node name="motor_test" pkg="inv_pendulum" type="motor_test.py" output="screen">
		<param name="forward_gpio" type="int" value="$(arg forward_gpio)"/>
		<param name="backward_gpio" type="int" value="$(arg backward_gpio)"/>
		<param name="encoder_a_gpio" type="int" value="$(arg encoder_a_gpio)"/>
		<param name="encoder_b_gpio" type="int" value="$(arg encoder_b_gpio)"/>
	</node>
</launch>
